<h1>Admin Interface</h1>
<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'schedules'}}active{{/ifCond}}" href="/admin/schedules">Schedules</a>
  </li>
   {{!-- <form action="/admin/schedules" method="POST" class="d-inline"> --}}
      {{!-- <button type="submit" class="btn nav-link {{#ifCond route 'createSchedules'}}active{{/ifCond}}">Create Schedules</button> --}}
    {{!-- </form> --}}
    <a type="submit" class="btn nav-link {{#ifCond route 'createSchedule'}}active{{/ifCond}}" href="/admin/schedules/create">Create a Schedule</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" href="/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'leaves'}}active{{/ifCond}}" href="/admin/leaves">Leaves</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'changeShifts'}}active{{/ifCond}}" href="/admin/changeShifts">Change Shifts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'shifts'}}active{{/ifCond}}" href="/admin/shifts">Shift Types</a>
  </li>
</ul>