<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'index'}}active{{/ifCond}}" href="/schedules">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'feeds'}}active{{/ifCond}}" href="/feeds">Latest Updates</a>
  </li>
   <li class="nav-item">
    <a class="nav-link {{#ifCond route 'applyLeaves'}}active{{/ifCond}}" href="/applyLeaves">Leave Request</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'leaveStatus'}}active{{/ifCond}}" href="/leaves/status">Leave Status</a>
  </li>
   <li class="nav-item">
    <a class="nav-link {{#ifCond route 'changeShifts'}}active{{/ifCond}}" href="/changeShifts">Change Shift Request</a>
  </li>
</ul>