{{> schedule-tabs route='index'}}

<div id='calendar'></div>

<!-- Add modal -->
<div id="eventModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schedule Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p id="modalContent">
        </p>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');
    
    // Embed the schedule data
    const schedules = {{{ json schedules }}};

    // Generate events data for FullCalendar
    const events = schedules.map(schedule => ({
      title: `${schedule.User.name} - ${schedule.Shift.name}`,
      start: schedule.date,
      extendedProps: {
        Date: schedule.date,
        User: schedule.User.name,
        Shift: schedule.Shift.name,
        ShiftStartTime: schedule.Shift.startTime,
        ShiftEndTime: schedule.Shift.endTime
      }
    }));

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      firstDay: 1, 
      
      events: events,
      eventClick: function(info) {
        // When an event is clicked, show the modal
        const modal = new bootstrap.Modal(document.getElementById('eventModal'));
        const modalContent = document.getElementById('modalContent');
        modalContent.innerHTML = `
          <p>Date: ${info.event.extendedProps.Date}</P>
          <p>Name: ${info.event.extendedProps.User}</p>
          <p>Shift: ${info.event.extendedProps.Shift}</p>
          <p>Shift Start Time: ${info.event.extendedProps.ShiftStartTime}</p>
          <p>Shift End Time: ${info.event.extendedProps.ShiftEndTime}</p>
        `;
        modal.show();
      }
    });

    calendar.render();
  });
</script>

 <style>
  #calendar {
    max-width: 100%;
    margin: 0 auto;
  }

  .fc-event {
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem; 
  }
  .fc-event:hover {
    opacity: 0.8;
  }
  .modal-title {
    font-size: 1.25rem;
    color: #343a40;
  }
  .modal-content {
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 1.5rem; 
  }
  .modal-footer {
    border-top: 1px solid #e9ecef; 
    padding-top: 1rem; 
  }
</style>